<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Whoops! We'll be back ASAP.</h1>
    <p>Pay no mind to the wizard behind the curtain...</p>
  </body>
</html>
