<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}

    <p>Browse my demo projects</p>

    {{> footer}}
  </body>
</html>
